{% extends 'base.html' %}
{% load i18n %}
{% load materializecss %}
{% block title %}{{object.title}}{% endblock title %}
{% block content %}

<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        .errorlist {
            color: red;
        }
        .help-block{
            color: #ff0000 !important;
        }
		.text-alerts {
			font-weight: bold;
			font-size: x-large;
			margin-right:2%%;
		}
		.icon-alerts {
			font-size: x-large;
			position: relative;
			margin-right: 2%;
            margin-bottom: 0.5%;
		}	
    </style>
</head>

<div layout:fragment="content" style="width: 85%; margin: auto;">
    <div class="justify-content-center h-100">
        <h1 id="form-title" style="text-align: center; padding-top: 0%; margin-top: 0%;"> {% trans "Product details" %} </h1>
        <div style="width: 65%; height: auto; display: inline-block;">
            <div class="justify-content-center product_card">
                {% for message in messages %}
                    {% if message.tags == "error" %}
                        <script>
                            showErrorMessage("{{message}}");
                        </script>
                    {% endif %}
                    {% if message.tags == "success" %}
                        <script>
                            showSuccessMessage("{{message}}");
                        </script>
                    {% endif %}
                {% endfor %}
                <h3>{{object.title}}
                <a onclick="AddOrRemoveFavourite({{object.pk}}, `{{object.title}}`)" id="add_to_favourite" class="btn btn-large tooltipped btn-floating red" data-position="right" data-tooltip="{% trans "Add to favourites" %}">
                {% if favourite %}
                    <i id="fav_icon" data-toggle="collapse" data-target="#mega-menu-dropdown" class="material-icons" style="vertical-align: middle; justify-content: center; align-items: center;">favorite</i></a></p>
                {% else %}
                    <i id="fav_icon" data-toggle="collapse" data-target="#mega-menu-dropdown" class="material-icons" style="vertical-align: middle; justify-content: center; align-items: center;">favorite_border</i></a></p>
                {% endif %}
                </h3>
                <h6>{% trans "Posted at"%} {{object.get_date_posted_translated}}</h6>
                    <div class="carousel carousel-slider center">
                    {% if object.picture1.url != '/img/placeholder.png' %}
                        <a class="carousel-item" href="#one!"><img src="{{object.picture1.url}}"></a>
                    {% endif %}
                    {% if object.picture2.url != '/img/placeholder.png' %}
                        <a class="carousel-item" href="#two!"><img src="{{object.picture2.url}}"></a>
                    {% endif %}
                    {% if object.picture3.url != '/img/placeholder.png' %}
                        <a class="carousel-item" href="#three!"><img src="{{object.picture3.url}}"></a>
                    {% endif %}
                    {% if object.picture4.url != '/img/placeholder.png' %}
                        <a class="carousel-item" href="#four!"><img src="{{object.picture4.url}}"></a>
                    {% endif %}
                    {% if object.picture5.url != '/img/placeholder.png' %}
                        <a class="carousel-item" href="#five!"><img src="{{object.picture5.url}}"></a>
                    {% endif %}
                    {% if object.picture6.url != '/img/placeholder.png' %}
                        <a class="carousel-item" href="#six!"><img src="{{object.picture6.url}}"></a>
                    {% endif %}
                </div>
                <div class="mb-4" style="width: 100%;">
                    <div style="width: 30%; height: auto; display: inline-block;">
                        <div class="mt-3 mb-4" style="margin-left: 2%;">
                            <h4 style="font-weight: bold;">{% trans "Starting price" %}</h4>
                            <h3 style="display: inline; margin-top: 0%; padding-top: 0%; font-weight: bold; color: #009192">  {{object.starting_price}}</h3><h3 style="display: inline; font-weight: bold; color: #009192">
                                {% if object.currency == '1' %}
                                    {% trans "LEI" %}
                                {% elif object.currency == '2' %}
                                    {% trans "USD (US$)" %}
                                {% elif object.currency == '3' %}
                                    {% trans "EUR (€)" %}
                                {% elif object.currency == '4' %}
                                    {% trans "GBP (£)" %}
                                {% endif %}
                            </h3>
                        </div>
                        <div class="mt-4 mb-4" style="margin-left: 2%; margin-top: 5%;">
                            <h4 style="display: inline;">{% trans "Condition"%}: </h4>
                            <h4 style="display: inline; color: #009192; font-weight: bold;">
                            {% if object.condition == '1' %}
                                {% trans "NEW" %}
                            {% else %}
                                {% trans "USED" %}
                            {% endif %}
                            </h4>
                        </div>
                    </div>
                    <div style="width: 35%; display: inline-block; vertical-align: top; margin-left: 2%;">
                        <div>
                            <h4 style="font-weight: bold;">{% trans "Last bid" %} </h4>
                            {% if last_auction %}
                                <h6>{{last_auction.get_date_time_in_local_timezone}}</h6>
                            {% endif %}
                            <h3 style="display: inline; margin-top: 0%; padding-top: 0%; font-weight: bold; color: red">  {{object.last_bid}}</h3><h3 style="display: inline; font-weight: bold; color: red">
                                {% if object.currency == '1' %}
                                    {% trans "LEI" %}
                                {% elif object.currency == '2' %}
                                    {% trans "USD (US$)" %}
                                {% elif object.currency == '3' %}
                                    {% trans "EUR (€)" %}
                                {% elif object.currency == '4' %}
                                    {% trans "GBP (£)" %}
                                {% endif %}
                            </h3>
                        </div>
                        <div class="mt-4 mb-3">
                            <form method="POST" style="width: 100%;">
                                {% csrf_token %}
                                <div class="input-group">
                                    <div style="display: inline;">
                                        {{auctionForm.bid_amount|materializecss}}
                                    </div>
                                    <div style="display: inline;">
                                        <a href="{{obj.get_detail_url}}">
                                            <button id="id_bid_btn" class="btn tooltipped red" type="submit" name="action" style="color: white; margin-top:25%; margin-bottom:25%;" data-position="bottom" data-tooltip="{% trans "Press the button to bid the entered amount"%}">{% trans "BID" %}</button>
                                        </a>
                                    </div>
                                    {{auctionForm.non_field_errors}}
                                </div>
                            </form>
                        </div>
                    </div>
                    <div style="width: 25%; display: inline-block; margin-left: 3%; margin-top: 0%; padding-top: 0%;">
                        <div>
                            <h4 style="font-weight: bold; padding-top: 0%; margin-top: 0%;"> {% trans "Who is interested?" %}</h4>
                            <h5><span class="material-icons-outlined material-icons">task_alt</span> {{bidders}} {% trans "bidder(s)" %}</h5>
                            <h5><span class="material-icons-outlined material-icons">task_alt</span> {{bids}} {% trans "bid(s)" %}</h5>
                        </div>
                    </div>
                </div>
                <hr style="width:95%; margin: auto;"></hr>
                <div style="margin-left: 2%;">
                    <h4>{% trans "About this item..." %} </h4>
                    <h5 style="white-space: pre-line;"> {{object.description | safe}} </h5>
                </div>
                <div class="mt-4">
                    {% if request.user == object.get_seller %}
                        <a href='edit {{obj.get_detail_url}}'>
                            <button class="btn waves-effect waves-light btn-large blue" type="submit" name="action"  style="display: inline; margin-left: 2%;">{% trans "Edit"%} 
                                <i class="material-icons" style="vertical-align: bottom; margin-left: 2%;">edit</i>
                            </button>
                        </a>
                        <a href='delete {{obj.get_delete_url}}'>
                            <button class="btn waves-effect waves-light btn-large red" type="submit" name="action"  style="display: inline; margin-left: 2%">{% trans "Delete" %}
                                <i class="material-icons" style="vertical-align: bottom; margin-left: 2%;">delete</i>
                            </button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div style="width: 30%; display: inline-block; *display: inline; zoom: 1; vertical-align: top; margin-left: 2%;">
            <div class="justify-content-center product_card">
                <div style="margin: 0 auto; text-align: center;">
                <h4 id="headline">{% trans "Time left"%}</h4>
                <div id="countdown">
                    <ul>
                        <li id="dhms"><span id="days"></span>{% trans "Days" %}</li>
                        <li id="dhms"><span id="hours"></span>{% trans "Hours"%}</li>
                        <li id="dhms"><span id="minutes"></span>{% trans "Minutes" %}</li>
                        <li id="dhms"><span id="seconds"></span>{% trans "Seconds" %}</li>
                    </ul>
                </div>
                <h5><span class="large material-icons" style="color: red; font-size: xx-large; vertical-align: bottom;">hourglass_bottom</span>{% trans "Auction ends on "%} {{object.get_end_date_translated}} </h5>
                </div>
            </div>
            <div class="justify-content-center product_card">
                <h4>{% trans "Seller" %} </h4>
                <h5 style="display: inline;"><i class="large material-icons" style="display: inline; font-size: xx-large; margin-right: 3%; color: teal; vertical-align: bottom; margin-left: 2%;">account_circle</i> {{object.seller.email}} </h5>
                <h5><span class="large material-icons" style="font-size: xx-large; margin-right: 3%; color: teal; vertical-align: bottom; margin-left: 2%;">phone</span>{{object.phone_number}} </h5>
                <h5><span class="large material-icons" style="font-size: xx-large; margin-right: 3%; color: teal; vertical-align: bottom; margin-left: 2%;">beenhere</span>{% trans "Member since:" %} {{object.seller.get_joined_date}} </h5>
            </div>
            <div class="justify-content-center product_card">
                <h4>{% trans "Location" %} </h4>
                <h5><span class="material-icons" style="color: teal; vertical-align: bottom; margin-left: 2%;">location_on</span> {{object.location.place}} </h5>
                {{form.location}}
                {{form.media}}
            </div>
        </div>
    </div>
</div>


{% block script %}

<script>
$(document).ready(function(){
  $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true,
  });
  var currency;
  if ({{object.currency}} == '1') {
      currency = 'LEI';
  } else if ({{object.currency}} == '2') {
      currency = 'USD (US$)';
  } else if ({{object.currency}} == '3') {
      currency = 'EUR (€)';
  } else if ({{object.currency}} == '4') {
      currency = 'EUR (€)';
  }
   $("#id_bid_amount").attr({
        "class" : "tooltipped",
        "data-position" : "bottom",
        "data-tooltip" : '{% trans "Please choose a value greater than the last bid and starting price. The entered amount will be in " %}' + currency
    });
  $('.tooltipped').tooltip();
  $("#id_location_0").attr({
        "type" : "hidden",
  });
  $("#id_location_1").attr({
        "type" : "hidden",
  });
  $("#id_location_2").attr({
        "type" : "hidden",
  });
});

(function () {
  const second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24;

  let date_future = "{{object.get_end_date_ISO_formatted}}",
      countDown = new Date(date_future).getTime(),
      x = setInterval(function() {    

        let now = new Date().getTime(),
            distance = countDown - now;

        document.getElementById("days").innerText = Math.floor(distance / (day)),
          document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
          document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
          document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);

        //do something later when date is reached
        if (distance < 0) {
          let headline = document.getElementById("headline"),
              countdown = document.getElementById("countdown"),
              content = document.getElementById("content");
              $("#id_bid_btn").attr("disabled", true);
              $("#id_bid_amount").attr("disabled", true);

          headline.innerText = '{% trans "Bidding finished!"%}';
          countdown.style.display = "none";
          

          clearInterval(x);
        }
        //seconds
      }, 0)
  }());
  function AddOrRemoveFavourite(pk, ptitle) {
            fav_icon = document.getElementById("fav_icon");
            fav_button = document.getElementById("add_to_favourite");
            if(fav_icon.textContent === "favorite_border") {
                fav_icon.textContent="favorite";
                fav_button.dataset.tooltip = "{% trans "Remove from favourites" %}";
                $.ajax({
                    url : "/add_to_favourites/" + pk, // the endpoint
                    type : "GET", // http method
                    data : { pk : pk}, // data sent with the get request
                    // handle a successful response
                    success : function(json) {
                        showSuccessMessage("{% trans "Product"%} " + ptitle + " {%trans "added to favourites" %}");
                    },
                    // handle a non-successful response
                    error : function(xhr,errmsg,err) {
                        showErrorMessage("Something went wrong...");
                    }
                });
            } else {
                fav_icon.textContent="favorite_border";
                fav_button.dataset.tooltip = "{% trans "Add to favourites" %}";
                $.ajax({
                url : "/remove_from_favourites/" + pk, // the endpoint
                type : "GET", // http method
                data : { pk : pk}, // data sent with the get request
                // handle a successful response
                success : function(json) {
                    showSuccessMessage("{% trans "Product"%} " + ptitle + " {%trans "removed from favourites" %}");
                },
                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    showErrorMessage("Something went wrong...");            }
                });
            } 
        };

    var carousel = $('.carousel.carousel-slider').carousel();
    // Disable all swipping on carousel
    if (typeof window.ontouchstart !== 'undefined') {
        carousel.off('touchstart.carousel');
    }
    carousel.off('mousedown.carousel');
</script>


{% endblock script %}
{% endblock content %}
