{% extends 'base.html' %}
{% load i18n %}
{% load materializecss %}
{% block title %}{{object.title}}{% endblock title %}
{% block content %}

<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>


<div layout:fragment="content" style="width: 85%; margin: auto;">
    <div class="justify-content-center h-100">
        <h1 id="form-title" style="text-align: center; padding-top: 0%; margin-top: 0%;"> {% trans "Product details" %} </h1>
        <div style="width: 65%; height: auto; display: inline-block;">
            <div class="justify-content-center product_card">
                <h3>{{object.title}}</h3>
                <h6>{% trans "Posted at"%} {{object.get_date_posted_translated}}</h6>
                    <div class="carousel carousel-slider center">
                    {% if object.picture1.url != '/img/placeholder.png' %}
                        <a class="carousel-item" href="#one!"><img src="{{object.picture1.url}}"></a>
                    {% endif %}
                    {% if object.picture2.url != '/img/placeholder.png' %}
                        <a class="carousel-item" href="#two!"><img src="{{object.picture2.url}}"></a>
                    {% endif %}
                    {% if object.picture3.url != '/img/placeholder.png' %}
                        <a class="carousel-item" href="#three!"><img src="{{object.picture3.url}}"></a>
                    {% endif %}
                    {% if object.picture4.url != '/img/placeholder.png' %}
                        <a class="carousel-item" href="#four!"><img src="{{object.picture4.url}}"></a>
                    {% endif %}
                    {% if object.picture5.url != '/img/placeholder.png' %}
                        <a class="carousel-item" href="#five!"><img src="{{object.picture5.url}}"></a>
                    {% endif %}
                    {% if object.picture6.url != '/img/placeholder.png' %}
                        <a class="carousel-item" href="#six!"><img src="{{object.picture6.url}}"></a>
                    {% endif %}
                </div>
                <div class="mb-4" style="width: 100%;">
                    <div id="end_date">
                    </div>
                    <h4><span class="large material-icons" style="color: red; font-size: xx-large; vertical-align: bottom;">hourglass_bottom</span>{% trans "Auction ends on "%} {{object.get_end_date_translated}} </h4>
                    <div style="width: 60%; height: auto; display: inline-block;">
                        <div class="mt-3 mb-4" style="margin-left: 2%;">
                            <h4 style="font-weight: bold;">{% trans "Starting price" %}</h4>
                            <h3 style="display: inline; margin-top: 0%; padding-top: 0%; font-weight: bold; color: #009192">  {{object.starting_price}}</h3><h3 style="display: inline; font-weight: bold; color: #009192">
                                {% if object.currency == '1' %}
                                    {% trans "LEI" %}
                                {% elif object.currency == '2' %}
                                    {% trans "USD (US$)" %}
                                {% elif object.currency == '3' %}
                                    {% trans "EUR (€)" %}
                                {% elif object.currency == '4' %}
                                    {% trans "GBP (£)" %}
                                {% endif %}
                            </h3>
                        </div>
                        {% comment %} <hr style="width:95%; margin: auto;"></hr> {% endcomment %}
                        <div class="mt-4 mb-4" style="margin-left: 2%; margin-top: 5%;">
                            <h4 style="display: inline;">{% trans "Condition"%}: </h4>
                            <h4 style="display: inline; color: #009192; font-weight: bold;">
                            {% if object.condition == '1' %}
                                {% trans "NEW" %}
                            {% else %}
                                {% trans "USED" %}
                            {% endif %}
                            </h4>
                        </div>
                    </div>
                    <div style="width: 35%; display: inline-block; vertical-align: top; margin-left: 2%;">
                        <div>
                            <h4 style="font-weight: bold;">{% trans "Last bid" %} </h4>
                            <h3 style="display: inline; margin-top: 0%; padding-top: 0%; font-weight: bold; color: red">  {{object.last_bid}}</h3><h3 style="display: inline; font-weight: bold; color: red">
                                {% if object.currency == '1' %}
                                    {% trans "LEI" %}
                                {% elif object.currency == '2' %}
                                    {% trans "USD (US$)" %}
                                {% elif object.currency == '3' %}
                                    {% trans "EUR (€)" %}
                                {% elif object.currency == '4' %}
                                    {% trans "GBP (£)" %}
                                {% endif %}
                            </h3>
                        </div>
                        <div class="mt-4 mb-3">
                            <div style="display: inline;">
                            <input type="number" style="display: inline; width:50%;"></input>
                            </div>
                            <div style="display: inline; margin-left: 5%;">
                                <a class="btn tooltipped red" style="color: white" data-position="bottom" data-tooltip="{% trans "Press the button to bid the entered amount"%}">{% trans "BID" %}</a>
                            </div> 
                            
                        </div>
                    </div>
                </div>
                <hr style="width:95%; margin: auto;"></hr>
                <div style="margin-left: 2%;">
                    <h4>{% trans "About this item..." %} </h4>
                    <h5 style="white-space: pre-line;"> {{object.description | safe}} </h5>
                </div>
                <div class="mt-4">
                    {% if request.user == object.get_seller %}
                        <a href='edit {{obj.get_detail_url}}'>
                            <button class="btn waves-effect waves-light btn-large blue" type="submit" name="action"  style="display: inline; margin-left: 2%;">{% trans "Edit"%} 
                                <i class="material-icons" style="vertical-align: bottom; margin-left: 2%;">edit</i>
                            </button>
                        </a>
                        <a href='delete {{obj.get_delete_url}}'>
                            <button class="btn waves-effect waves-light btn-large red" type="submit" name="action"  style="display: inline; margin-left: 2%">{% trans "Delete" %}
                                <i class="material-icons" style="vertical-align: bottom; margin-left: 2%;">delete</i>
                            </button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div style="width: 30%; display: inline-block; *display: inline; zoom: 1; vertical-align: top; margin-left: 2%;">
            <div class="justify-content-center product_card">
                <h4>{% trans "Seller" %} </h4>
                <h5 style="display: inline;"><i class="large material-icons" style="display: inline; font-size: xx-large; margin-right: 3%; color: teal; vertical-align: bottom; margin-left: 2%;">account_circle</i> {{request.user.email}} </h5>
                <h5><span class="large material-icons" style="font-size: xx-large; margin-right: 3%; color: teal; vertical-align: bottom; margin-left: 2%;">phone</span>{{object.phone_number}} </h5>
                <h5><span class="large material-icons" style="font-size: xx-large; margin-right: 3%; color: teal; vertical-align: bottom; margin-left: 2%;">beenhere</span>{% trans "Member since:" %} {{request.user.get_joined_date}} </h5>
            </div>
            <div class="justify-content-center product_card">
                <h4>{% trans "Location" %} </h4>
                <h5><span class="material-icons" style="color: teal; vertical-align: bottom; margin-left: 2%;">location_on</span> {{object.location.place}} </h5>
                {{form.location}}
                {{form.media}}
            </div>
        </div>
    </div>
</div>

{% block script %}

<script>
 
$(document).ready(function(){
  $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true,
  });
  $('.tooltipped').tooltip();
  $("#id_location_0").attr({
        "type" : "hidden",
  });
  $("#id_location_1").attr({
        "type" : "hidden",
  });
  $("#id_location_2").attr({
        "type" : "hidden",
  });
});

var carousel = $('.carousel.carousel-slider').carousel();
// Disable all swipping on carousel
if (typeof window.ontouchstart !== 'undefined') {
    carousel.off('touchstart.carousel');
}
carousel.off('mousedown.carousel');
</script>


{% endblock script %}
{% endblock content %}
