{% load i18n %}
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<ul id="dropdown-user" class="dropdown-content">
    {% if request.user.is_authenticated %}
        <li><a href="/products/myproducts">{% trans "My ads" %}</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
    {% endif %}
</ul>
<ul id="dropdown-language" class="dropdown-content">
    <form action="{% url 'set_language' %}" method="post" id="lang_form">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
        <li>
            <button type="submit" name="language" value="{{ language.code }}" class="{% if language.code == LANGUAGE_CODE %} selected{% else%} demo-text-black{% endif %} dropdown-item" style="width:100%; height: 50px;">
                {% if language.code == LANGUAGE_CODE %} &#10003;
                
                {% endif %}
                <img src="/static/img/flags/{{ language.code }}.png">
                {{ language.name_translated }}
            </button>
        </li>
        {% endfor %}
    </form>
</ul>

<nav class="white">
   <div class="nav-wrapper">
        <a href="/" class="brand-logo" style="font-family: 'Lobster', cursive; margin-left: 1%; color: black;"> Bidder</a>
        <ul class="right hide-on-med-and-down">
            {% if request.user.is_authenticated %}
                <li style="height: 100%;"><a href="/products/new" class="waves-effect waves-light btn teal" style="top:25%; color: white;">{% trans "CREATE NEW AD" %}</a></li>
                <li style="height: 100%;"><a href="/products/mywishlist" style="color: black;">{% trans "Wishlist" %}</a></li>
            {% endif %}
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown-language" style="color: #000;">{% trans 'Language' %}<i class="material-icons right">arrow_drop_down</i></a></li>
            {% if request.user.is_authenticated %}
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown-user" style="color: #000;">{{ request.user.username }}<i class="material-icons right">arrow_drop_down</i></a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<script>
    $(document).ready(function(){
        $(".dropdown-trigger").dropdown();
    });
</script>
</body>