body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    
}
.user_card {
    width: 80%;
    margin-bottom: auto;
    background: #b8bba8;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.product_card {
    width: 100%;
    margin-bottom: auto;
    background: #b8bba8;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 2%;
    margin-bottom:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.products{
    width: 100%;
    background: #b8bba8;
    border-radius: 5px;
    margin-bottom: 5%;
}
.form_container {
    margin-top: 3%;
}
#hr {
    color: #33a69a;
}
#form-title{
    color: #fff;
    font-family: “Playfair Display”, “Didot”, "Times New Roman", Times, serif;
}
.p_content {
    color: #000;
    font-family: “Playfair Display”, “Didot”, "Times New Roman", Times, serif;
    font-size: large;
}
.description_content {
    color: rgb(0, 0, 0);
    font-family: “Playfair Display”, “Didot”, "Times New Roman", Times, serif;
    font-size: large;
    padding-top: 1%;
}

.headers {
    color: black;
    font-family: “Playfair Display”, “Didot”, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: xx-large;
}

.login_btn {
    width: 100%;
    background: #33ccff !important;
    color: #b8bba8 !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #f78c5b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.error-messages {
    border-left: 6px solid red;
    color: red;
    margin-bottom: 3%;
    padding-left: 2%;
    font-family: 'Playfair Display';
    font-size: large;
}
.success-messages {
    border-left: 6px solid green;
    color: green;
    margin-bottom: 3%;
    padding-left: 2%;
    font-family: 'Playfair Display';
    font-size: large;
}
.password-toggle {
    position: absolute;
    right: -15px;
    transform: translate(0, -50%);
    top: 50%;
    cursor: pointer;
}
.fa {
    font-size: 20px;
    color: #7a797e;
}
.bottom-link {
    color: black;
    font-family: 'Playfair Display';
    font-size: large;
}
.or-container {
    align-items: center;
    color: grey;
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.line-separator {
    background-color:#a8a7a7;
    flex-grow: 5;
    height: 1px;
}
.or-label {
    flex-grow: 1;
    margin: 0 7%;
    text-align: center;
}
.help-block{
    color: #ff0000 !important;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    overflow-wrap: hidden;
    outline: 0;
}
.custom-file-upload {
border: 1px solid #ccc;
display: inline-block;
padding: 6px 12px;
cursor: pointer;
}
.preview-images-zone {
    width: 100%;
    min-height: 180px;
    /* display: flex; */
    padding: 5px 5px 0px 5px;
    position: relative;
    overflow:auto;
}
.preview-images-zone > .preview-image:first-child {
    height: 185px;
    width: 185px;
    position: relative;
    margin: 1%;
    
}
.preview-images-zone > .preview-image {
    height: 125px;
    width: 125px;
    position: relative;
    margin-right: 1%;
    float: left;
    margin-bottom: 1%;
}
.preview-images-zone > .preview-image > .image-zone {
    width: 100%;
    height: 100%;
}
.preview-images-zone > .preview-image > .image-zone > img {
    width: 100%;
    height: 100%;
}
.preview-images-zone > .preview-image > .tools-edit-image {
    position: absolute;
    z-index: 100;
    color: #fff;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    display: none;
}
.preview-images-zone > .preview-image > .image-cancel {
    color: red;
    position: absolute;
    width: 100%;
    cursor: pointer;
    padding-top: 5%;
    display: none;
    text-align: center;
    z-index: 100;
}
.preview-image:hover > .image-zone {
    cursor: pointer;
    opacity: .5;
}
.preview-image:hover > .tools-edit-image,
.preview-image:hover > .image-cancel {
    display: block;
}
.ui-sortable-helper {
    width: 90px !important;
    height: 90px !important;
}
.container {
    padding-top: 50px;
}
#canvas{
    background-color: #3F6068;
    width: 100%;
    height: 100%;
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
}
.form_content {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}
.detail_product_card {
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.material-icons {
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}
/* --- COUNTDOWN CSS  --- */
/* general styling */
  
  #headline {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
    text-align: center;
  }
  
  #dhms {
    display: inline-block;
    font-size: large;
    list-style-type: none;
    padding: 3%;
    text-transform: uppercase;
  }
  
  li span {
    display: block;
    font-size: xx-large;
  }
  
  
  @media all and (max-width: 768px) {
    h1 {
      font-size: 1.5rem;
    }
    
    li {
      font-size: 1.125rem;
      padding: .75rem;
    }
    
    li span {
      font-size: 3.375rem;
    }
  }
/* --- END OF COUNTDOWN CSS  --- */

/* --- START OF SEARCH BAR CSS -- */
.wrapper {
    width: 70%;
    margin: 3% auto;
  }
  
  .searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  #id_search_term {
    width: 100%;
    height: 2.8rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
  }
  
  #searchQuerySubmit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
  }
  
  #searchQuerySubmit:hover {
    cursor: pointer;
  }
/* --- END OF SEARCHBAR CSS  --- */