{% autoescape on %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        .material-icons {
            vertical-align: middle;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body style="background-color: #b8bba8">
    <div style="margin: 2%">
        <h5> {% trans "Hi, " %} {{product.seller.username}}! </h5>
        <h5> {% trans "The bidding for" %} {{product.title}} {% trans "has finished!" %} </h5>
        {% if winner %}
            <h5> {% trans "Contact the winner to arrange the shipping of the product."%} </h5>
            <br>
            <div class="mb-4" style="width: 100%;">
                <div style="width: 35%; height: auto; display: inline-block;">
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">{% trans "Winner Information" %}</span>
                                <h6 style="display: inline;"><i class="large material-icons" style="display: inline; font-size: xx-large; margin-right: 3%; color: teal; vertical-align: bottom; margin-left: 2%;">account_circle</i> {{winner.email}} </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width: 45%; display: inline-block; vertical-align: top; margin-left: 2%;">
                    <div class="col s12 m7">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{product.picture1.url}}">
                                <span class="card-title"></span>
                            </div>
                            <div class="card-content">
                                <h5 style="font-weight: bold; padding-top: 0%; margin-top: 0%; color: #3f6068;"> {{product.title}}</h5>
                                <div style="margin-top: 3%; margin-bottom: 3%;">
                                    <h6 style="font-weight: bold; display: inline;">{% trans "Last bid"%}: </h6>
                                    <h6 style="display: inline;">{{product.last_bid}}</h6>
                                    <h6 style="display: inline;">
                                        {% if product.currency == '1' %}
                                            {% trans "LEI" %}
                                        {% elif product.currency == '2' %}
                                            {% trans "USD (US$)" %}
                                        {% elif product.currency == '3' %}
                                            {% trans "EUR (€)" %}
                                        {% elif product.currency == '4' %}
                                            {% trans "GBP (£)" %}
                                        {% endif %}
                                    </h6>
                                </div>
                                <div style="margin-top: 3%; margin-bottom: 3%;">
                                    <h6 style="font-weight: bold; display: inline;">{% trans "Ends in: Auction finished!" %}</h6>
                                </div>
                                <h5 style="font-weight: bold; padding-top: 0%; margin-top: 0%; color: #3f6068;"> {% trans "Who else was interested?" %}</h5>
                                <h6><span class="material-icons-outlined material-icons">task_alt</span> {{bidders}} {% trans "bidder(s)" %}</h6>
                                <h6><span class="material-icons-outlined material-icons">task_alt</span> {{bids}} {% trans "bid(s)" %}</h6>
                            </div>
                            <div class="card-action">
                                <a href="https://{{domain}}{{product.get_detail_url}}">{% trans "See the product" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <h5> {% trans "Unfortunately there was no bidder for your product."%} </h5>
            <br>
            <div style="width: 50%; display: inline-block; vertical-align: top; margin-left: 2%;">
                    <div class="col s12 m7">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{product.picture1.url}}">
                                <span class="card-title"></span>
                            </div>
                            <div class="card-content">
                                <h5 style="font-weight: bold; padding-top: 0%; margin-top: 0%; color: #3f6068;"> {{product.title}}</h5>
                                <div style="margin-top: 3%; margin-bottom: 3%;">
                                    <h6 style="font-weight: bold; display: inline;">{% trans "Last bid"%}: </h6>
                                    <h6 style="display: inline;">{{product.last_bid}}</h6>
                                    <h6 style="display: inline;">
                                        {% if product.currency == '1' %}
                                            {% trans "LEI" %}
                                        {% elif product.currency == '2' %}
                                            {% trans "USD (US$)" %}
                                        {% elif product.currency == '3' %}
                                            {% trans "EUR (€)" %}
                                        {% elif product.currency == '4' %}
                                            {% trans "GBP (£)" %}
                                        {% endif %}
                                    </h6>
                                </div>
                                <div style="margin-top: 3%; margin-bottom: 3%;">
                                    <h6 style="font-weight: bold; display: inline;">{% trans "Ends in: Auction finished!" %}</h6>
                                </div>
                                <h5 style="font-weight: bold; padding-top: 0%; margin-top: 0%; color: #3f6068;"> {% trans "Who else was interested?" %}</h5>
                                <h6><span class="material-icons-outlined material-icons">task_alt</span> {{bidders}} {% trans "bidder(s)" %}</h6>
                                <h6><span class="material-icons-outlined material-icons">task_alt</span> {{bids}} {% trans "bid(s)" %}</h6>
                            </div>
                            <div class="card-action">
                                <a href="https://{{domain}}{{product.get_detail_url}}">{% trans "See the product" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %}
    <br>
    <h5> {% trans "Have a look at our products " %}<a href="https://{{domain}}">{% trans "here." %}</a></h5>
    <h5> {% trans "Thanks for using our site!" %} </h5>
    <br>
    <h6> {% trans "Kind Regards, " %} </h6>
    <h6> {% trans "Bidder Team"%} </h6>
</body>
{% endautoescape %}