{% load i18n %}
{% autoescape off %}
{% get_current_language as LANGUAGE_CODE %}
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        .material-icons {
        vertical-align: middle;
        justify-content: center;
        align-items: center;
    }
    </style>
</head>
<body style="background-color: #b8bba8">
    <div style="margin: 2%">
        <h5> {% trans "Hi, " %} {{user}} ! </h5>
        <h5> {% trans "You have been outbid for" %} {{product.title}}. </h5>
        <h5> {% trans "You need to raise your bid in order to get the product."%} </h5>
        <br>
        <div style="width: 50%;">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="{{product.picture1.url}}">
                    </div>
                    <div class="card-content">
                        <h5 style="font-weight: bold; padding-top: 0%; margin-top: 0%; color: #3f6068;"> {{product.title}}</h5>
                        <div style="margin-top: 3%; margin-bottom: 3%;">
                            <h6 style="font-weight: bold; display: inline;">{% trans "Last bid"%}: </h6>
                            <h6 style="display: inline;">{{product.last_bid}}</h6>
                            <h6 style="display: inline;">
                                {% if product.currency == '1' %}
                                    {% trans "LEI" %}
                                {% elif product.currency == '2' %}
                                    {% trans "USD (US$)" %}
                                {% elif product.currency == '3' %}
                                    {% trans "EUR (€)" %}
                                {% elif product.currency == '4' %}
                                    {% trans "GBP (£)" %}
                                {% endif %}
                            </h6>
                        </div>
                        <div style="margin-top: 3%; margin-bottom: 3%;">
                            <h6 style="font-weight: bold; display: inline;">{% trans "Ends in"%}: </h6><h6 style="display: inline;"> {{product.get_time_remaining}}</h6>
                        </div>
                        <h5 style="font-weight: bold; padding-top: 0%; margin-top: 0%; color: #3f6068;"> {% trans "Who is interested?" %}</h5>
                        <h6><span class="material-icons-outlined material-icons">task_alt</span> {{bidders}} {% trans "bidder(s)" %}</h6>
                        <h6><span class="material-icons-outlined material-icons">task_alt</span> {{bids}} {% trans "bid(s)" %}</h6>
                    </div>
                    <div class="card-action">
                        <a href="https://{{domain}}{{product.get_detail_url}}">{% trans "Check the product and bid now" %}</a>
                    </div>
                </div>
            </div>
        </div>
    <br>
    <h5> {% trans "Thanks for using our site!" %} </h5>
    <br>
    <h6> {% trans "Kind Regards, " %} </h6>
    <h6> {% trans "Bidder Team"%} </h6>
</body>

{% endautoescape %}